<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>MCOnlineJudge Problems</title>

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9a9d8a46b3.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/top.js') }}"></script>

    <script>
        $(function () {
            $("#navbar").load("/navbar");
        });
    </script>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

<nav id="navbar"></nav>

<main class="p-3">
    <div class="row">
        <h1>MCOnlineJudge Problems</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th>問題</th>
                        <th>実行時間制限(s)</th>
                        <th>メモリ制限(MB)</th>
                        <th>難易度</th>
                        <th>配点</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in problems %}
                    <tr>
                        <td>
                            <a href="/problem/{{ row['id'] }}">{{ row['title'] }}</a>
                        </td>
                        <td>{{ row['time'] }}</td>
                        <td>{{ row['memory'] }}</td>
                        <td>{{ row['difficulty'] }}</td>
                        <td>{{ row['score'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <button class="btn btn-success" id="test-button">
        <i class="bi-check-circle-fill"></i>
        テストだよ
    </button>
</main>

</body>

</html>