<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Navigation Bar</title>
</head>

<body>

<div id="left-sidebar" class="p-3 bg-light" style="height: 100vh">
    <h3 class="mb-3">Practice/Basic</h3>

    <ul style="list-style-type: none">
        <li class="mb-3" style="color: #ab211f">
            <i class="bi-1-square-fill"></i>
            <b>基本構文と基本データ型の理解</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/1">1. はじめに</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/2">2. "Hello, World!" を実行してみよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/3">3. 変数を扱ってみよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/4">4. 演算子を使って計算してみよう</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #d6802f">
            <i class="bi-2-square-fill"></i>
            <b>制御構造</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/5">5. if 文で条件分岐をしよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/6">6. else, else if 文で更に複雑な条件分岐をしよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/7">7. for 文を使ったループ処理</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/8">8. while 文を使ったループ処理</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/9">9. break, continue 文を使った処理</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #dbc232">
            <i class="bi-3-square-fill"></i>
            <b>メソッドと関数</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/10">10. 関数を自作してみよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/11">11. Math ライブラリを使ってみよう</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #55a331">
            <i class="bi-4-square-fill"></i>
            <b>配列</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/11">11. 配列を扱ってみよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/12">12. 2次元配列を扱ってみよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/13">13. 3次元配列を扱ってみよう</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #43a39e">
            <i class="bi-5-square-fill"></i>
            <b>例外処理</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/14">14. 例外処理をしてみよう</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #292d8a">
            <i class="bi-6-square-fill"></i>
            <b>基本的なアルゴリズム</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/15">15. バブルソート</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/16">16. 二分探索</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #7a228a">
            <i class="bi-7-square-fill"></i>
            <b>ファイル入出力</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/17">17. txtファイルを読み込んでみよう</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/18">18. csvファイルを読み込んでみよう</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #808080">
            <i class="bi-8-square-fill"></i>
            <b>その他</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/19">19. <i>COMING SOON...</i></a>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>

</html>