<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Navigation Bar</title>
</head>

<body>

<div id="left-sidebar" class="p-3 bg-light" style="height: 100vh">
    <h3 class="mb-3">Practice/Basic</h3>

    <ul style="list-style-type: none">
        <li class="mb-3" style="color: #ab211f">
            <i class="bi-1-square-fill"></i>
            <b>基本構文と基本データ型の理解</b>
            <ul>
                <li style="list-style-type: none">
                    <a href="/practice/basic/1">1. はじめに</a>
                </li>
                <li style="list-style-type: none">
                    <a href="/practice/basic/1">2. "Hello, World!" を実行してみよう</a>
                </li>
            </ul>
        </li>
        <li class="mb-3" style="color: #d6802f">
            <i class="bi-2-square-fill"></i>
            <b>制御構造</b>
        </li>
        <li class="mb-3" style="color: #dbc232">
            <i class="bi-3-square-fill"></i>
            <b>メソッドと関数</b>
        </li>
        <li class="mb-3" style="color: #55a331">
            <i class="bi-4-square-fill"></i>
            <b>配列</b>
        </li>
        <li class="mb-3" style="color: #43a39e">
            <i class="bi-5-square-fill"></i>
            <b>例外処理</b>
        </li>
        <li class="mb-3" style="color: #292d8a">
            <i class="bi-6-square-fill"></i>
            <b>基本的なアルゴリズム</b>
        </li>
        <li class="mb-3" style="color: #7a228a">
            <i class="bi-7-square-fill"></i>
            <b>ファイル入出力</b>
        </li>
        <li class="mb-3" style="color: #808080">
            <i class="bi-8-square-fill"></i>
            <b>その他</b>
        </li>
    </ul>
</div>

</body>

</html>