<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Navigation Bar</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='favicon.ico') }}" alt="logo">
            MCOnlineJudge
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation Bar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">
                        <i class="bi-house"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/docs/top.html">
                        <i class="bi-file-earmark-code"></i>
                        Docs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/practice/top.html">
                        <i class="bi-signpost-fill"></i>
                        Practice
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/problem/top">
                        <i class="bi-lightbulb"></i>
                        Problems
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/submissions">
                        <i class="bi-send"></i>
                        Submissions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Shimoyama0711/MCOnlineJudge">
                        <i class="bi-github"></i>
                        GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi-info-circle-fill"></i>
                        Help
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if session.mcid|length > 0 %}
                        <a class="nav-link" href="{{ url_for('user_page') }}">
                            <img src="https://mineskin.eu/helm/{{ session.mcid }}/24" alt="Your Skin">
                            {{ session.mcid }} さん
                        </a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('login') }}">
                            <i class="bi-arrow-right-square-fill"></i>
                            Login
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>